.hero {
    padding: 10% 0 5%;

}
.hero h1{
    width: 80%;
}
.hero p {
    width: 43%;
    padding: 4% 0 7%;
}
.hero-btns {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width:680px) {
    .hero h1 {
        width: 100%;
    }
    .hero p {
        width: 100%;
    }
   .hero-btns {
    justify-content: space-between;
   }
    
}
@media screen and (max-width:385px) {
    .hero-btns{
        display: block;
    }
    
}