.hero-calendar {
  padding: 68px 0 4px;
}
.hero-calendar-btns {
  display: flex;
  justify-content: flex-end;
}
.hero-calendar p {
  margin: 40px 0;
}
.calendar-btn {
  margin-bottom: 31px;
}

.year-calendar {
  padding: 5%;
  border-radius: 64px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.09), 0 0 4px 0 rgba(0, 0, 0, 0.09);
  margin: 52px 0 72px;
}
.year {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.calendar-office {
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);
  margin: 64px 0px;
  padding: 40px 24px;
}

.calendar-office h4 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: rgba(12, 90, 233, 1);
}

.calendar-office p {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(61, 61, 61, 1);
}
.service-development {
  border-radius: 64px;
  background-color: #eef8ff;
  padding: 5%;
  margin-bottom: 5%;
}
.service-development h4 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  color: #11295a;
}
.service-development p {
  font-weight: 400;
  font-size: 18px;
  font-family: Raleway;
  color: #11295a;
  margin: 1.5% 0 4% 0;
}

@media screen and (max-width: 680px) {
  .hero-calendar-btns {
    justify-content: space-between;
  }
}

@media screen and (max-width: 385px) {
  .hero-calendar-btns {
    display: block;
  }
}
